
body {
    width: 375px;
    height: 100%;
}

.header-play {
    background-color: black;
}

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.menu-link {
    display: none;
}